const ejsLint = require('ejs-lint');
<!DOCTYPE html>
<head>
	<title>Login</title>
    </script>
    </head>  -->
<% include header %>
<body>
    <h1><%= topicHead %></h1>
    <form name="form1" method="POST" action="/login">
    <p>
    <label>Firstname:</label>
    <input type="text" name="firstname" placeholder="fname">
    </p>
    <label>Lastname:</label>
    <input type="text" name="lastname" placeholder="lname">
	</p><label>E-mail:</label>
    <input type="text" name="email" placeholder="email">
    </p>
    <p>
        <input type="submit" value="Login">
    </p>
    </form>   
    <% if(userValue!=null){ %>    
        <div> Data Entered as <%= userValue.firstname %>  <%= userValue.lastname %> <%= userValue.email %> </div>
    <%}%> 
</body>
<% include footer %>
</html>